body {
	background-color: black;
}

body * {
	color: #DDD;
	font-family: "Bitter", arial, helvetica;
	text-shadow: 0 0 4px #444;
    margin: 0;
    padding: 0;
}

canvas {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}


.info {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
}

h1 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

li {
    display: inline-block;
	font-size: 18px;
}

p {
	font-size: 24px;
    margin-bottom: 0.5rem
}

a {
	text-decoration: none;
}

a:hover, .fa-github:hover, .fa-linkedin:hover {
    color: #1e98af !important;
	text-decoration: none;
}

a:visited {
	 color: #DDD;
}

.instructions {
	color: #AAA;
	font-size: 18px;
}

.left-pad {
    padding-left: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }

    li {
        font-size: 16px;
    }

}
